.Mark {
    width: 90%;
    padding: 16px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;

    background-color: rgb(221, 241, 219);
    font-size: 4mm;
    
    

}
/*
.Mark:hover,
.Subject:active {
    background-color: rgb(212, 212, 212);
}
*/
